.ev-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5% 0 5% 0 ;
    margin: auto;
    width: 100vw;
    height: 100%;
    background-color: #c28d74;
}

.story-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0 5% 0 ;
    margin: auto;
    width: 100vw;
    height: 100%;
    background-color: #c28d74;
}

.dom-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5% 0 5% 0 ;
    margin: auto;
    width: 100vw;
    height: 100%;
    background-color: #e0b8a5
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    height: 100%;
    @include devices(tablet){
        width: 80%;
    }
    h1{
        display: flex;
        justify-content: left;
        font-size: 3em;
        @include devices(tablet){
            font-size: 2em;
        }
    }
    h2{
        display: flex;
        justify-content: left;
        font-size: 2.5em;
        @include devices(tablet){
            font-size: 1.5em;
        }
    }
    p{
        display: flex;
        justify-content: center;
        font-size: 2em;
        @include devices(tablet){
            font-size: 1.5em;
        }
    }
}

.story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    h1{
        display: flex;
        justify-content: center;
        font-size: 3em;
        @include devices(tablet){
            font-size: 2em;
        }
    }
    p{
        display: flex;
        justify-content: center;
        font-size: 2em;
        @include devices(tablet){
            font-size: 1.5em;
        }
    }
}

.aboutimage{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    padding: 1%;
    margin: 5%;
    @include devices(tablet){
        display: none
    }
}